<div *ngFor="let link of grupos">
</div>

<div class="tabla">
  <div class="t-head">

    <div class="div">
      <div *ngIf="groupColumn" class="column-0">
        <div>Grupo</div>
      </div>
      <div *ngIf="provinceNameColumn" class="column-1">
        <div>Provincia</div>
      </div>
      <div *ngIf="municipalityColumn" class="column-2">
        <div>Municipio</div>
      </div>
      <div *ngIf="quantity_of_parcels_per_municipality" class="column-3">
        <div>Cant. parcelas por Municipios</div>
      </div>
      <div *ngIf="square_meters_per_municipality" class="column-4">
        <div>M² por Municipios</div>
      </div>
      <div *ngIf="municipalities" class="column-5">
        <div>Cant. Municipios</div>
      </div>
      <div *ngIf="colum6" class="column-6">
        <div>Cant. de parcelas por Provincias
        </div>
      </div>
      <div *ngIf="colum7" class="column-7">
        <div>M²</div>
      </div>
      <div *ngIf="colum8" class="column-8">
        <div>Tareas</div>
      </div>
    </div>
  </div>
  <div class="tabla-body">
    <div class="grupos">
      <ng-container *ngFor="let link of grupos; index as a">

        <div class="grupo" *ngIf="!grupos[a].filtered">
          <div *ngIf="groupColumn" class="grupo-numero column-0">
            {{link.group}}
          </div>
          <div class="provincias">
            <ng-container *ngFor="let link of grupos[a].provinces; index as b;">
              <div *ngIf="!grupos[a].provinces[b].filtered" class="provincia">
                <div *ngIf="provinceNameColumn" class="column-1 provincia-nombre">
                  {{grupos[a].provinces[b].province}}
                </div>
                <div
                  *ngIf=" municipalityColumn || quantity_of_parcels_per_municipality || square_meters_per_municipality "
                  class="municipios" #parentElement>
                  <ng-container *ngFor="let link of grupos[a].provinces[b].municipalities; index as c">
                    <div *ngIf="!grupos[a].provinces[b].municipalities[c].filtered" class="municipio"
                      (dblclick)="toggleClase(a,b,c,parentElement,$event)">
                      <div *ngIf="municipalityColumn" class="column-2 municipio-nombre">{{
                        grupos[a].provinces[b].municipalities[c].municipality }}</div>
                      <div *ngIf="quantity_of_parcels_per_municipality" class="column-3 cant-parcelas-municipis">
                        {{ grupos[a].provinces[b].municipalities[c].quantity_of_parcels_per_municipality }}
                      </div>
                      <div *ngIf="square_meters_per_municipality" class="column-4 cant-parcelas-metros">
                        {{ grupos[a].provinces[b].municipalities[c].square_meters_per_municipality }}
                      </div>
                    </div>
                  </ng-container>
                </div>
                <div *ngIf="colum6 || colum7 || colum8" class="provincias-resumen">
                  <div *ngIf="municipalities" class="column-5">{{grupos[a].provinces[b].municipalities.length}}</div>
                  <div *ngIf="colum6" class="column-6">0</div>
                  <div *ngIf="colum7" class="column-7">0</div>
                  <div *ngIf="colum8" class="column-8">0</div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="total">

      <div class="column-4">Total:</div>
      <div class="column-5">2,231.34</div>
      <div class="column-6">2,231.34</div>
      <div class="column-7">2,231.34</div>
      <div class="column-8">2,231.34</div>
    </div>


  </div>
</div>


